#body{margin:0; padding:0}
#body{
	
}
#kayit{
	padding:10px; 
	width:500px;
	margin:50px auto;
	background:#B0C4DE;
	border-radius:5px;
}
#input{
	padding:10px;
	border:1px solid  #ccc;
	border-radius:3px;
}
#button{
	background-color:#20B2AA; 
	cursor:pointer;
	color:#fff;
}
#giris{
	padding:20px;
	width:500px;
	margin:50px auto;
	background:#20B2AA;
	border-radius:10px;
	
}
#button2{
	background-color:red;
	cursor:pointer;
	color:#fff;
}
